%h1 Products

%table.pure-table
  %thead
    %tr
      %th
        Product name
      %th
        Product ID
      %th
        Remote Name
      %th
        Supplier
      %th
        Last Stock
  %tbody
    - @products.each do |product|
      %tr
        %td
          %a(href="/product/#{product.id}")= product.name
        %td= product.product_id
        %td
          - if product.remote_product.nil?
            %a(href="/product/#{product.id}/link") Link to ...
          - else
            = product.remote_product.name
        %td= product.supplier
        %td
