= haml "products/menu".to_sym

%h1 Products by Supplier

-#.dialogBox(style="border:1px solid gray;")
-#  %a.ajaxLink(href="/test")
-#    kalick
-#
-#:javascript
-#  var $modalDialog = $('<div/>', {
-#      'class': 'exampleModal',
-#      'id': 'exampleModal1'
-#  })
-#  .appendTo('body')
-#  .dialog({
-#      resizable: false,
-#      autoOpen: false,
-#      height: 400,
-#      width: 450,
-#      show: 'fold',
-#      buttons: {
-#          "Close": function () {
-#              $modalDialog.dialog("close");
-#          }
-#      },
-#      modal: true
-#  });
-#
-#  $(function () {
-#      $('a.ajaxLink').on('click', function (e) {
-#          e.preventDefault();
-#          // TODO: Undo comments, below
-#          var url = $('a.ajaxLink:first').attr('href');
-#          $modalDialog.load(url);
-#          $modalDialog.dialog("open");
-#      });
-#  });

:javascript
  $(function() {
    $( "#tabs" ).tabs();
  });

#tabs
  %ul
    %li
      %a(href="#tab_all_products") All
    - @suppliers.each_with_index do |supplier, idx|
      %li
        %a(href="#tab_#{idx}")="#{supplier.name} (#{@products.supplied_by(supplier).count})"
  #tab_all_products
    %h2 All Products
    = haml "products/table".to_sym, locals: {products: @products.all}
  - @suppliers.each_with_index do |supplier, idx|
    %div{id:"tab_#{idx}"}
      %h2 Products of #{supplier.name || "Unknown Supplier"}
      - if supplier == settings.supplier
        = haml "products/table_with_linking".to_sym, locals: {products: @products.supplied_by(supplier)}
      - else
        = haml "products/table".to_sym, locals: {products: @products.supplied_by(supplier)}

