- stock ||= nil

%table.pure-table.pure-table-striped
  %thead
    %tr
      %th
        = product_icon
        Product name
      %th
        Product ID
      %th
        = supplier_icon
        Supplier
      - if stock.present?
        %th
          Current Stock
      %th
        = stock_icon
        = sales_icon
        Stock/ Sales
  %tbody
    - products.each do |product|
      %tr
        %td
          = product_link product
        %td
          = product.product_id
        %td
          = supplier_link product.supplier
        - if stock.present?
          %td
            = stock[product.product_id]
        %td
          = haml "widgets/_stock_sales".to_sym, locals: {product: product}
          - stock_url = "/product/#{product.id}/stock_sales_plot"
          %a.stock_show_action{:href => "", :data => {url: stock_url, product: product.name}}
            Stock/Sales
