%table.pure-table
  %thead
    %tr
      %th
        Product name
      %th
        Product ID
      %th
        Supplier
      %th
        Stock/ Sales
  %tbody
    - products.each do |product|
      %tr
        %td
          = product_link product
        %td
          = product.product_id
        %td
          = supplier_link product.supplier
        %td
          = haml "widgets/_stock_sales".to_sym, locals: {product: product}
          - stock_url = "/product/#{product.id}/stock_sales_plot"
          %a.stock_show_action{:href => "", :data => {url: stock_url, product: product.name}}
            Stock/Sales
