:javascript
  #{js_tooltip_init}

%h1 Stockexplorer supplier #{@supplier.name}

= haml "order/_supplier_order_info_flash".to_sym, locals: {supplier: @supplier}

%center
  %table.pure-table.pure-table-striped
    %thead
      %tr
        %th
        %th
        %th
        %th.left-bordered(colspan=2)
          %center
            30 days
        %th.left-bordered(colspan=3)
          %center
            60 days
        %th.left-bordered(colspan=3)
          %center
            90 days
        %th.left-bordered(colspan=3)
          %center
            356 days
        %th.left-bordered
        %th
        %th
      %tr
        %th Name
        %th(title="Packsize")
          = packsize_icon
        %th(title="Current Stock")
          = stock_icon
        %th.left-bordered(title="Sales in the last 30 days")
          = sales_icon
        %th(title="Days where Product was unavailable (out of stock) in the last 30 days")
          %span.fa-stack
            %i.fa.fa-shopping-cart.fa-stack-1x
              %i.fa.fa-ban.fa-stack-2x.text-danger
        %th.left-bordered(title="Sales in the last 60 days")
          = sales_icon
        %th(title="Days where Product was unavailable (out of stock) in the last 60 days")
          %span.fa-stack
            %i.fa.fa-shopping-cart.fa-stack-1x
              %i.fa.fa-ban.fa-stack-2x.text-danger
        %th(title="The 30 days average sales looking at 60 days. The second value equals takes in account the days in which the product was not available.)")
          average / cleaned
        %th.left-bordered(title="Sales in the last 90 days")
          = sales_icon
        %th(title="Days where Product was unavailable (out of stock) in the last 90 days")
          %span.fa-stack
            %i.fa.fa-shopping-cart.fa-stack-1x
              %i.fa.fa-ban.fa-stack-2x.text-danger
        %th(title="The 30 days average sales looking at 90 days. The second value equals takes in account the days in which the product was not available.)")
          average / cleaned
        %th.left-bordered(title="Sales in the last 356 days")
          = sales_icon
        %th(title="Days where Product was unavailable (out of stock) in the last 356 days")
          %span.fa-stack
            %i.fa.fa-shopping-cart.fa-stack-1x
              %i.fa.fa-ban.fa-stack-2x.text-danger
        %th(title="The 356 days average sales looking at 90 days. The second value equals takes in account the days in which the product was not available.)")
          average / cleaned
        %th.left-bordered Missing
        %th Purchase Price
        %th Chart
    %tbody
      - @supplier.local_products.find_each do |product|
        - stock_product = @stock_products[product.product_id]
        %tr
          %td(title="Product Name")
            = product_link product
            - if product.supplier_prod_name
              %br
              %small
                = product.supplier_sku
                = product.supplier_prod_name
            - if product.order_info.present?
              #flash.ui-state-highlight
                = error_icon
                = product.order_info
          %td(title="Product Packsize")
            - if product.packsize.present?
              = product.packsize
            - else
              %i.fa.fa-ban
          %td(title="Product Stock (current)")
            = stock_product&.current_stock
          %td.left-bordered(title="Sales in last 30 days")
            = stock_product&.real_sales(30)
          %td(title="Number of days where product was out of stock in the last 30 days")
            = product.out_of_stock_days_since(Date.today - 30)
            - if product.stock_items.present? && (Date.today - product.stock_items.order(created_at: :asc).first.created_at.to_date).to_i < 30
              .stock_warning(title="Warning, first stock for this product is from #{product.stock_items.order(created_at: :asc).first.created_at.strftime("%v %R")}")
                = error_icon
          %td.left-bordered(title="Sales in the last 60 days")
            = stock_product&.real_sales(60)
          %td
            -# TODO memoize the date calculations
            = product.out_of_stock_days_since(Date.today - 60)
          %td
            -#= stock_product&.real_sales(60).to_f / 2.0).to_i
            -#\/
            = stock_product&.corrected_sales(60, per_days: 30)
            -#(@sales_60[product.product_id].qty.to_f / (60 - @out_of_stock_days_60[product.product_id]) * 30).to_i
          %td.left-bordered(title="Sales in the last 90 days")
            = stock_product&.real_sales(90)
          %td
            = product.out_of_stock_days_since(Date.today - 90)
          %td
            -#= (@sales_90[product.product_id].qty.to_f / 3.0).to_i
            -#\/
            -#= (@sales_90[product.product_id].qty.to_f / (90 - @out_of_stock_days_90[product.product_id]) * 30).to_i
          %td.left-bordered
            = stock_product&.real_sales(365)
          %td
            = product.out_of_stock_days_since(Date.today - 365)
          %td
            -#= (@sales_356[product.product_id].qty.to_f / 11.86).to_i
            -#\/
            -#= (@sales_356[product.product_id].qty.to_f / (356 - @out_of_stock_days_356[product.product_id]) * 30).to_i
          -#%td
          -#  - if product_stock && product_monthly_sales
          -#    -# red/yellow/green
          -#    -# if negative, put button
          -#    = product_stock - product_monthly_sales
          %td.left-bordered
          %td
            - if product.purchase_price
              = product.purchase_price
              €
          %td
            - stock_url = "/product/#{product.id}/stock_sales_plot"
            %a.stock_show_action{:href => "", :data => {url: stock_url, product: product.name}}
              Stock/Sales
