.icon#headicon
  = settings_icon

= haml "maintenance/menu".to_sym

%h2 Supplier #{@supplier.name}

%form.pure-form.pure-form-aligned(action="" method="post")
  %input(type="hidden" name="_method" value="put")
  %fieldset
    .pure-control-group
      %label(for="email") E-Mail address
      %input#email(name="email" type="email" value="#{@supplier.email}")

    .pure-control-group
      %label(for="order_template") Order Template
      %textarea#order_template(name="order_template" value="#{@supplier.order_template}" rows="10" cols="80")~ @supplier.order_template

    .pure-control-group
      %button.pure-button.pure-button-primary
        %i.fa.fa-save
        Save
    %h3 Help
    .pure-control-group
      %em
        How to fill out templates:
    .pure-control-group
      See the example template in the following textarea.  The line starting with a star (*) will be repeated.  A list of supported symbols can be found below.
      %br
      %textarea#example_order_template(name="example_order_template" readonly rows="10" cols="80")
        :preserve
          SUBJECT=Order NAME

          Dear NAME,

          We will order

          * PRODUCTCODE QTY (NUM_PACKS of PACKSIZE) PRODUCTNAME

          Thank you,

          us.
      %br
      Following symbols are supported:
      %br
      %dl
        %dt SUBJECT=
        %dd will be subject of the mail (and NOT included in mail itself)
        %dt NAME
        %dd will be replaced by this suppliers name
        %dt *
        %dd the line starting with a star will be iterated over with every product
        %dt PRODUCTCODE
        %dd the product code as stored in magento
        %dt QTY
        %dd quantity ordered
        %dt NUM_PACKS
        %dd quantity ordered (in packs of PACKSIZE)
        %dt PACKSIZE
        %dd packsize as stored in magento
        %dt PRODUCTNAME
        %dd the products name
      %br
