.icon#headicon
  = settings_icon

= haml "maintenance/menu".to_sym

#modal-plot.modal-plot

%h2 Supplier #{@supplier.name}

:javascript
  $(function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.fail(function() {
          ui.panel.html("Couldn't load this tab, there was an error.");
        });
      }
     });
  });

#tabs
  %ul
    %li
      %a(href="#tab_products")
        = products_icon
        Products
    %li
      %a(href="#tab_orders")
        = order_icon
        Orders
    %li
      %a(href="#tab_order_settings")
        = settings_icon
        Order Settings
    %li
      %a(href="/stockexplorer/#{@supplier.id}")
        Stock explorer Pack icons
  #tab_products
    %h2 Products of #{@supplier.name}
    = haml "products/table".to_sym, locals: {products: @supplier.local_products.all}
  #tab_orders
    %h2 Orders of #{@supplier.name}
    - if @supplier != settings.supplier && !@supplier.order_template.present?
      %center
        .ui-state-error
          Please specify mail order template (in Settings tab) before continuing.
      %br
    = haml "orders/_order_table".to_sym, locals: {orders: @supplier.orders.order(updated_at: :desc), supplier: @supplier}
  #tab_order_settings
    %h2 Settings for #{@supplier.name}

    %form.pure-form.pure-form-aligned(action="" method="post")
      %input(type="hidden" name="_method" value="put")
      %fieldset
        .pure-control-group
          %label
            Order method
          %input(readonly value="#{@supplier.order_method || 'mail'}")

        .pure-control-group
          %label(for="email") E-Mail address
          %input#email(name="email" value="#{@supplier.email}")
        .pure-control-group
          %label.pseudo
          .hint
            Multiple adresses separated by whitespace, first addresss will be used as 'To:', following as 'CC:'.
    
        .pure-control-group
          %label(for="order_template") Order Template
          %textarea#order_template(name="order_template" value="#{@supplier.order_template}" rows="10" cols="80")~ @supplier.order_template
        .pure-control-group
          %label.pseudo
          .hint
            See example below.

        .pure-control-group
          %label(for="order_info") Order Info
          %textarea#order_info(name="order_info" value="#{@supplier.order_info}" rows="10" cols="80")~ @supplier.order_info

        .pure-control-group
          %label(for="delivery_time_days") Delivery Time
          %input#delivery_time_days(name="delivery_time_days" value="#{@supplier.delivery_time_days}")
        .pure-control-group
          %label.pseudo
          .hint
            In days.

        .pure-control-group
          %label(for="minimum_order_value") Minimum Order Value
          %input#minimum_order_value(name="minimum_order_value" value="#{@supplier.minimum_order_value}")
        .pure-control-group
          %label.pseudo
          .hint
            In €, british notation (100.87 not 100,87).
    
        .pure-control-group
          %button.pure-button.pure-button-primary
            %i.fa.fa-save
            Save
        %h3 Help
        .pure-control-group
          %em
            How to fill out templates:
        .pure-control-group
          See the example template in the following textarea.  The line starting with a star (*) will be repeated.  A list of supported symbols can be found below.
          %br
          %textarea#example_order_template(name="example_order_template" readonly rows="10" cols="80")
            :preserve
              SUBJECT=Order SUPPLIERNAME
    
              Dear SUPPLIERNAME,
    
              We will order
    
              * SUPPLIERSKU QTY (NUM_PACKS of PACKSIZE) PRODUCTNAME

              PUBLIC_COMMENT
    
              Thank you,
    
              us.
          %br
          Following symbols are supported:
          %br
          %dl
            %dt SUBJECT=
            %dd will be subject of the mail (and NOT included in mail itself)
            %dt SUPPLIERNAME
            %dd will be replaced by this suppliers name
            %dt *
            %dd the line starting with a star will be iterated over with every product
            %dt QTY
            %dd quantity ordered
            %dt NUM_PACKS
            %dd quantity ordered (in packs of PACKSIZE)
            %dt PACKSIZE
            %dd packsize as stored in magento
            %dt PRODUCTNAME
            %dd the products name, (prefers supplier_prod_name property of product)
            %dt SUPPLIERSKU
            %dd 'remote' SKU of the product
            %dt PUBLIC_COMMENT
            %dd Public comment given in the order
          %br
