:javascript
  #{js_tooltip_init}

%table.pure-table.full-width
  %thead
    %tr
      %th Creation Date
      %th
        = supplier_icon
        Supplier
      %th Number of Items
      %th Action
      %th State
    %tbody
      - if supplier.present?
        %tr
          %td(colspan=5)
            %center
              - if supplier == settings.supplier
                %a.pure-button(href="/order/new")
                  = add_icon
                  Create New Remote Order
              - else
                %a.pure-button(href="/order/non_remote/#{supplier.id}/new")
                  = add_icon
                  Create New Mail Order
      -# find_each ignores order!
      - orders.each do |order|
        %tr
          %td=order.created_at.strftime("%v %R")
          %td
            = supplier_link order.supplier
            - if order.supplier == settings.supplier
              (remote)
          %td
            = order.order_items.count
            (
            = order.order_items.processible.count
            )
          %td
            - if order.supplier == settings.supplier
              %a.pure-button(href="/order/#{order.id}")
                = view_icon
                View
            - else
              %a.pure-button(href="/order/non_remote/#{order.id}")
                = view_icon
                View

            - if order.state == "ordered" || order.state == 'mailed' || order.state == "stocked"
              - tooltip = "Packlist"
              - if order.supplier == settings.supplier
                - if order.remote_order_link.present?
                  - tooltip += " with real values from remote order"
                - else
                  - tooltip += " without refunds, with rawbotz data only"
              %a.pure-button(href="/order/#{order.id}/packlist" title="#{tooltip}")
                - if order.supplier == settings.supplier
                  - if order.remote_order_link.present?
                    %i.fa.fa-thumbs-o-up
                  - else
                    %i.fa.fa-thumbs-o-down
                = packlist_icon
                Packlist
            - if order.state == "ordered" || order.state == 'mailed'
              %a.pure-button(href="/order/#{order.id}/stock")
                %i.fa.fa-cart-arrow-down
                Stock

          %td
            .state-label
              = order_state_icon order
              = order.state
            - if order.state == 'processing'
              = order.order_items.where("num_ordered > ?", 0).count
              of
              = order.order_items.where("num_wished > ?", 0).count
              (
              = "%.2f" % (100 * order.order_items.where("num_ordered > ?", 0).count.to_f / order.order_items.where("num_wished > ?", 0).count)
              \%)
