= haml "orders/menu".to_sym

%h1 Orders

:javascript
  $(document).ready(function() {
    $( "#tabs" ).tabs();
  });


-#- if Order.in_state('processing').present?
-#  Currently Processing an order: [progress]

- if Order.current.present?
  %a(href="/order/#{Order.current.id}")
    Current Order
- else
  %a(href="/order/new") New Order

%br

#tabs
  %ul
    %li
      %a(href="#tab_all_orders") All
    - if @orders.in_state('ordered').present?
      %li
        %a(href="#tab_ordered_orders") Ordered
    - if @orders.in_state('deleted').present?
      %li
        %a(href="#tab_deleted_orders") Deleted
  #tab_all_orders
    = haml "orders/_order_table".to_sym, locals: {orders: @orders}
  - if @orders.in_state('ordered').present?
    #tab_ordered_orders
      = haml "orders/_order_table".to_sym, locals: {orders: @orders.in_state('ordered')}
  - if @orders.in_state('deleted').present?
    #tab_deleted_orders
      = haml "orders/_order_table".to_sym, locals: {orders: @orders.in_state('deleted')}
