= haml "orders/menu".to_sym

%h1 Orders

- if Order.current.present?
  %a(href="/order/#{Order.current.id}")
    Current Order
- else
  %a(href="/order/new") New Order

%br
- if @orders.count > 0
  %br

  %table.pure-table
    %thead
      %tr
        %th Date
        %th Number of Items
        %th Action
        %th State
    %tbody
      - @orders.each do |order|
        %tr
          %td=order.created_at
          %td
            = order.order_items.count
            (
            = order.order_items.processible.count
            )
          %td
            %a.pure-button(href="/order/#{order.id}")
              %i.fa.fa-eye
                View
            - if order.state == "ordered"
              %a.pure-button(href="/order/#{order.id}/packlist")
                %i.fa.fa-paper
                  Packlist

          %td=order.state
