= haml "orders/menu".to_sym

%h1 Non-Remote Order

%ul.float_ul
  - @suppliers.each do |supplier|
    %li
      - if supplier.order_template.present?
        %a.supplier(href="/order/non_remote/#{supplier.id}/new")
          = supplier.name
      - else
        %a.supplier(href="/supplier/#{supplier.id}#tab_order_settings")
          = supplier.name
          (!)
  -#    - if supplier.mail temp...
  -#    %a(href="/order/non_remote/#{supplier.id}/new")
  -#      New Order
  -#    -# direct link to order? and also, show whether settings are needed
%br
