= haml "products/menu".to_sym

%h1= @product.name

%form.pure-form.pure-form-aligned(action="" method="post")
  %input(type="hidden" name="_method" value="put")
  %fieldset
    .pure-control-group
      %label(for="product_id") Product ID
      %input#product_id(type="text" readonly value="#{@product.product_id}")
    .pure-control-group
      %label(for="product_page") Product Page
      %a(href="#{Rawbotz::RemoteShop.product_page_url(@product, settings.conf)}" target="blank")
        =Rawbotz::RemoteShop.product_page_url(@product, settings.conf)
    .pure-control-group
      %label(for="supplier") Supplier
      = @product.supplier.try(:name)
    .pure-control-group
      %label(for="supplier") Local Product
      - if @product.local_product.nil?
        create link
      - else
        = local_product_link @product.local_product
    - if packsize = @product.local_product.try(:packsize)
      .pure-control-group
        %label(for="packsize") Pack size
        = packsize
    - if shelve = @product.local_product.try(:shelve_nr)
      .pure-control-group
        %label(for="shelve") Shelve
        = shelve
    -# if supplier == settings.supplier ... show a link to product page (in shop catalog/product/view/id/ ...

-#- if @product.stock_items.present?
-#  %h2 Stock Values
-#  %table.pure-table
-#    %thead
-#      %tr
-#        %th Date
-#        %th Qty
-#    %tbody
-#      - @product.stock_items.each do |s|
-#        %tr
-#          %td= s.date
-#          %td= s.qty

-#%div(style="width:60%")
-#  %div
-#    %div
-#      %canvas(id="canvas" height="450" width="800")
-#
-#:javascript
-#  // animate true?
-#  var randomScalingFactor = function(){ return Math.round(Math.random()*100)}; // ??
-#  Chart.defaults.global.multiTooltipTemplate = "<%= value %>";
-#  var lineChartData = {
-#    labels : [#{@sales.uniq.map{|s| "\"#{s[0]}\""}.reverse.join(',')}],
-#    datasets : [
-#      {
-#        label: "Product sales",
-#        fillColor : "rgba(220,220,220,0.2)",
-#        strokeColor : "rgba(220,220,220,1)",
-#        pointColor : "rgba(220,220,220,1)",
-#        pointStrokeColor : "#fff",
-#        pointHighlightFill : "#fff",
-#        pointHighlightStroke : "rgba(220,220,220,1)",
-#        data : [#{@sales.uniq.map{|s| "\"#{s[1]}\""}.reverse.join(',')}]
-#      },
-#      {
-#        label: "Product",
-#        fillColor : "rgba(220,220,220,0.2)",
-#        strokeColor : "rgba(220,220,220,1)",
-#        pointColor : "rgba(120,120,220,1)",
-#        pointStrokeColor : "#fff",
-#        pointHighlightFill : "#fff",
-#        pointHighlightStroke : "rgba(220,220,220,1)",
-#        data : [#{(@product.stock_items.map(&:qty) * @sales.uniq.length).join(',')}]
-#      }
-#    ]
-#  }
-#
-#  window.onload = function(){
-#    var ctx = document.getElementById("canvas").getContext("2d");
-#    window.myLine = new Chart(ctx).Line(lineChartData, {
-#      responsive: true
-#    });
-#  }
-#
-#%h2 Orders

