%div
  %div
    %div
      %canvas(id="canvas" height="450" width="800")

:javascript
  // animate true?
  var randomScalingFactor = function(){ return Math.round(Math.random()*100)}; // ??
  Chart.defaults.global.multiTooltipTemplate = "<%= datasetLabel %>: <%= value %>"
  //var lineChartData = {
  //  labels : [#{@sales.uniq.map{|s| "\"#{s[0]}\""}.reverse.join(',')}],
  //  datasets : [
  //    {
  //      label: "Product sales",
  //      fillColor : "rgba(220,220,220,0.2)",
  //      strokeColor : "rgba(220,220,220,1)",
  //      pointColor : "rgba(220,220,220,1)",
  //      pointStrokeColor : "#fff",
  //      pointHighlightFill : "#fff",
  //      pointHighlightStroke : "rgba(220,220,220,1)",
  //      data : [#{@sales.uniq.map{|s| "\"#{s[1]}\""}.reverse.join(',')}]
  //    },
  //    {
  //      label: "Product",
  //      fillColor : "rgba(220,220,220,0.2)",
  //      strokeColor : "rgba(220,220,220,1)",
  //      pointColor : "rgba(120,120,220,1)",
  //      pointStrokeColor : "#fff",
  //      pointHighlightFill : "#fff",
  //      pointHighlightStroke : "rgba(220,220,220,1)",
  //      data : [#{(@product.stock_items.map(&:qty) * @sales.uniq.length).join(',')}]
  //    }
  //  ]
  //}

  var salesData = {
    // extract_keyname = ->(h) { h[:keyname] } ; map(&extract_keyname); lambda fun
    labels : [#{plot_data.values.map{|v| "'#{v[:label].to_s}'"}.join(',')}],
    datasets : [
      {
        label: "Product sales",
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [#{plot_data.values.map{|v|v[:sales]}.join(',')}]
      },
      {
        label: "Product stock",
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(120,120,220,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [#{plot_data.values.map{|v| v[:stock]}.join(',')}]
      }
    ]
  }

  var ctx = document.getElementById("canvas").getContext("2d");
  window.myLine = new Chart(ctx).Line(salesData, {
  //lineChartData, {
    responsive: true
  });
  //window.onload = function(){
  //  var ctx = document.getElementById("canvas").getContext("2d");
  //  window.myLine = new Chart(ctx).Line(salesData, {
  //  //lineChartData, {
  //    responsive: true
  //  });
  //}

