%div
  %div
    %div
      %canvas(id="canvas" height="450" width="800")

- month_datasets = []
- if markers ||= nil
  - markers.sort_by{|m|m[0]}.last(4).each_with_index do |m,i|
    - month_datasets << Rawbotz::ChartMonthDataset.new(m[0],
      m[1], plot_data.length, (i + 1)/(4.0))

- sales_value = ->(h) { h[:sales].to_i }
:javascript
  //Chart.defaults.global.multiTooltipTemplate = "<%= datasetLabel %>: <%= value %>";
  Chart.defaults.global.hover.mode = 'label';
  Chart.defaults.global.tooltips.mode = 'label';

  var salesData = {
    labels : [#{plot_data.values.map{|v| "'#{v[:label].to_s}'"}.join(',')}],
    datasets : [
      {
        label: "Product sales",
        fill: false,
        lineTension: 0.2,
        borderColor: "rgba(75,192,142,1)",
        borderCapStyle: 'round',
        pointBorderColor: "rgba(75,142,112,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 8,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 2,
        pointHitRadius: 10,
        data : [#{plot_data.values.map(&sales_value).join(',')}]
      },
      {
        label: "Product stock",
        fill: true,
        lineTension: 0.2,
        backgroundColor: "rgba(175,155,155,0.4)",
        borderColor: "rgba(105,112,172,1)",
        borderCapStyle: 'round',
        pointBorderColor: "rgba(155,152,182,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 8,
        pointHoverBackgroundColor: "rgba(99,102,152,1)",
        pointHoverBorderColor: "rgba(210,210,210,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 2,
        pointHitRadius: 10,
        data : [#{plot_data.values.map{|v| v[:stock].nil? ? 'null' : v[:stock].to_i}.join(',')}]
        /*data : [#{plot_data.values.map{|v| v[:stock].to_i}.join(',')}]*/
      },
      #{month_datasets.join("\n")}
      // month-datasets #{@sales_monthly}, red green blue
    ]
  }

  var ctx = document.getElementById("canvas").getContext("2d");
  window.myLine = new Chart(ctx, {
    type: 'line',
    data: salesData,
    options: {},
    responsive: true,
  });
