= haml "products/menu".to_sym

%h1 Link "#{@product.name}" to ...

- if @product.remote_product.present?
  %em
    Currently linked to
    %b
      = @product.remote_product.name
  %br

= haml "widgets/_link".to_sym, locals: {local_product: @product, redirect_to: "link_to"}

%br

:javascript
  #{jqui_tab_init}

#tabs
  %ul
    - if !@product.link_suggestions.empty?
      %li
        %a(href="#tab_suggestions") Suggestions
    %li
      %a(href="#tab_unlinked") Unlinked
    %li
      %a(href="#tab_linked") Linked
  - if !@product.link_suggestions.empty?
    #tab_suggestions
      %h2 Suggestions
      = haml "products/_link_table".to_sym, locals: {products: @product.link_suggestions }
  #tab_unlinked
    %h2 Unlinked Remote Products
    = haml "products/_link_table".to_sym, locals: {products: @remote_products.unlinked}
  #tab_linked
    %h2 Already Linked Remote Products
    = haml "products/_link_table".to_sym, locals: {products: @remote_products.linked}

