.icon#headicon
  = settings_icon

= haml "maintenance/menu".to_sym

%h1 Maintenance

%h2 Info

%h3 Remote Shop
%center
  %small
    %table.pure-table.settings
      %tr
        %td
          %b Name
        %td
          = settings.supplier_name
      %tr
        %td
          %b URI
        %td
          = settings.conf["remote_shop"]["base_uri"]
      %tr
        %td
          %b Account
        %td
          = settings.conf["remote_shop"]["user"]

%h3 Local Shop Database (mysql)
%center
  %small
    %table.pure-table.settings
      %tr
        %td
          %b Host
        %td
          = settings.conf["host"]
      %tr
        %td
          %b Port
        %td
          = settings.conf["port"]
      %tr
        %td
          %b Name
        %td
          = settings.conf["database"]

%h3 Rawbotz Database
%center
  %small
    %table.pure-table.settings
      %tr
        %td
          %b Path
        %td
          = settings.conf["default"]["database"]

%h3 Mail
%center
  %small
    %table.pure-table.settings
      %tr
        %td
          %b To
        %td
          = settings.conf["mail"]["to"]
      %tr
        %td
          %b From
        %td
          = settings.conf["mail"]["from"]
      %tr
        %td
          %b Host
        %td
          = settings.conf["mail"]["host"]
      %tr
        %td
          %b Port
        %td
          = settings.conf["mail"]["port"]

%h2 Actions
.pure-u-1-5
.pure-u-3-5
  .pure-menu.pure-menu-horizontal#menu
    %center
      %ul.pure-menu-list
        %li.pure-menu-item
          %a.pure-menu-link(href="/")
            %i(class="fa fa-puzzle-refresh")
            Refresh/Import remote
        %li.pure-menu-item
          %a.pure-menu-link(href="/")
            %i(class="fa fa-import")
            Maintenance...
        %li.pure-menu-item
          %a.pure-menu-link(href="/")
            %i(class="fa fa-import")
            Trigger Order
.pure-u-1-5

%h2 Systems Information

Version #{Rawbotz::VERSION}.

Built on top of

%dl
  %dt
    %a(href="http://sinatrarb.com") Sinatra
  %dd
    Minimal Web Application Framework how it should be done, Ruby.

  %dt
    %a(href="http://haml.info") Haml
  %dd
    Write less but better HTML.

  %dt
    %a(href="http://rubyonrails.org") ActiveRecord
  %dd
    Popular ORM from the Ruby on Rails universe

  %dt
    %a(href="http://purecss.io") Pure CSS framework
  %dd
    Small but solid CSS framework.

  %dt
    %a(href="https://fortawesome.github.io/Font-Awesome") Font Awesome
  %dd
    (Font) Awesome icons.

  %dt
    %a(href="http://chartjs.org") Chart.js
  %dd
    For JavaScript Charts.

  %dt
    %a(href="http://jquery.com") jQuery
  %dd
    For JavaScript.

  %dt
    %a(href="https://jqueryui.com") jQuery UI
  %dd
    For JavaScript UI goodies.
