!!! 5
%html
  %head
    %title Rawbotz
    %meta{name: "pdfkit-page_size", content: "A4"}
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(charset="utf-8")
    -# CSS stuff will be inserted by pdfkit
  %body
    .pure-g
      .pure-u-1#main
        - if flash
          - if msg = flash.delete(:error)
            #flash.ui-state-error
              = error_icon
              = msg.join(" | ")
          - if msg = flash.delete(:success)
            #flash.ui-state-highlight
              = success_icon
              = msg.join(" | ")
          - if msg = flash.delete(:failure)
            #flash.ui-state-highlight
              = error_icon
              = msg.join(" | ")
          - if msg = flash.delete(:info)
            #flash.ui-state-highlight
              = info_icon
              = msg.join(" | ")
          -# Consume the remainder
          - if flash.length > 0
            #flash.ui-state-highlight
              - flash.each do |f|
                = error_icon
                = flash.delete(f[0]).join(" | ")

        =yield
        %br
      .pure-u-1
        .pure-menu.pure-menu-horizontal#menu
          %small
            %center
              %ul.pure-menu-list
                %li.pure-menu-item
                  Rawbotz #{Rawbotz::VERSION} 2016, 2017 (c) Felix Wolfsteller
