= haml "orders/menu".to_sym

%h1 Remote Order

%table.pure-table
  %thead
    %tr
      %th Remote Name
      %th Remote SKU
      %th Local Name
      %th Qty
      %th Refund
      %th Shelve
  %tbody
    - @remote_products_qty.each do |p, q|
      %tr
        %td
          = remote_product_link p
        %td
        %td
          -if p.local_product
            %a(href="/product/#{p.local_product.id}")
              = p.local_product.name
          -elsif p.is_a? RemoteProduct
            %a(href="/remote_product/#{p.id}/link")
              Link (broken)
          -else
            not in database
        %td=q
        %td
        %td
          -if shelve = p.local_product.try(:shelve_nr)
            = shelve
