%h2 General
%dl
  %dt
    Supplier
  %dd
    = order.supplier.try(:name)
  %dt
    Created at
  %dd
    = order.created_at
  %dt
    Updated at
  %dd
    = order.updated_at
  %dt
    State
  %dd
    = order.state
  %dt
    Comment
  %dd
    = order.internal_comment

%h2 Content
= order.order_items.count
Items.


