:javascript
  $( function() {
    $( document ).tooltip();
  });

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th(style="width: 5%;") Product ID
      %th(style="width: 50%;") Product Name
      %th(style="width: 10%;" title="Stock (at order- time!) / Minimum stock warning value")
        = stock_icon
        \/
        = stock_full_icon
      %th(style="width: 20%;") Order
      %th(style="width: 5%;" title="Packsize")
        .info-popup(style="display:none;")
          Packsize
        %i.fa.fa-cube
      %th(style="width: 10%;" title="Stock and Sales history")
        = sales_icon
        %i.fa.fa-line-chart
  %tbody
    - order_items.each do |order_item|
      -# purchase price, order info!
      %tr
        %td
          - if order_item.local_product
            = order_item.local_product.product_id
          - else
            No local product!
        %td
          = local_product_link order_item.local_product
          - if order_item.local_product.order_info.present?
            %br
            #flash.ui-state-highlight
              = info_icon
              = order_item.local_product.order_info

        %td
          = order_item.current_stock
          \/
          = order_item.min_stock
          - last_order_item = order_item.order_item_same_product(order_item.updated_at).first
          - if last_order_item.present? && last_order_item.num_wished
            %br
            %button.pure-button.reorder(data-order_item_id="#{order_item.id}" data-num_wished="#{last_order_item.num_wished}")
              = last_order_item.order.updated_at.strftime("%Y-%m-%d")
              %br
              = last_order_item.num_wished
              \/
              = last_order_item.num_ordered
        %td
          - if order_item.remote_product_id.present?
            = haml "widgets/_qty_wished_input".to_sym, locals: {product: order_item.local_product, input_id_num: order_item.id, num_wished: order_item.num_wished}
          - else
            No remote product
        %td= order_item.local_product.packsize
        %td
          - stock_url = "/product/#{order_item.local_product.id}/stock_sales_plot"
          %a.stock_show_action{:href => "", :data => {url: stock_url, product: order_item.local_product.name}}
            Stock/Sales
