= haml "orders/menu".to_sym

:javascript
  $( function() {
    $( document ).tooltip();
  });

%h1 Non-Remote Order for supplier #{@supplier.name}

#modal-plot.modal-plot

= haml "order/_supplier_order_info_flash".to_sym, locals: {supplier: @supplier}

%center
  %form#non_remote_order.pure-form(action="" method="post")
    %input(name="supplier_id" type="hidden" value="#{@supplier.id}")
    %table.pure-table.pure-table-striped
      %thead
        %tr
          %th Name
          %th Qty
          %th(title="Packsize")
            = packsize_icon
          %th
            Avg. sales / m
            = sales_icon
          %th
            Stock
            = stock_icon
          %th
            Missing
          %th
            Expected Duration in days
          %th
            Purchase Price
            -#= price_icon
          %th Chart
      %tbody
        -# find_each destroys order
        - @order.order_items.to_a.sort_by{|oi| @stock_products_hash[oi.local_product.id]&.expected_stock_lifetime || 0.0}.each do |order_item|
          - product = order_item.local_product
          - stock_product = @stock_products_hash[product.id]
          %tr(title="Complete sales info")
            %td
              = product_link product
              - if product.supplier_prod_name
                %br
                %small
                  = product.supplier_sku
                  = product.supplier_prod_name
              - if product.order_info.present?
                #flash.ui-state-highlight
                  = error_icon
                  = product.order_info
            %td(title="Quantity to order")
              - if @order.state == "new"
                = haml "widgets/_qty_wished_input".to_sym, locals: {product: product, input_id_num: product.id, num_wished: order_item.num_wished}
              - else
                %input.qty{readonly: true, value: order_item.num_wished, size: 2}
            %td(title="Packsize of product")
              - if product.packsize.present?
                = product.packsize
              - else
                %i.fa.fa-ban
            %td(title="Monthly sales of product (based on ... days)")
              - if stock_product.sales_per_day
                = friendly_float stock_product.sales_per_day * 30.0
              = "(#{stock_product.sales_per_day_base})"
            %td(title="Product Stock (live)")
              = stock_product.current_stock
            %td(title="Predicted quantity missing to stock for 30 days")
              - if stock_product.missing && stock_product.missing > 0.0
                = friendly_float stock_product.missing
            %td(title="Expected Stock duration in days")
              = friendly_float stock_product.expected_stock_lifetime
            %td(title="Purchase Price")
              - if product.purchase_price
                = product.purchase_price
                €
            %td
              - stock_url = "/product/#{product.id}/stock_sales_plot"
              %a.stock_show_action{:href => "", :data => {url: stock_url, product: product.name}}
                Stock/Sales
    %br
    %center
      Total price (updates on 'Save' click):
      %br
      %b
        = "%.2f" % @order.order_items.inject(0.0) {|acc, oi| acc += oi.num_wished.to_i * oi.local_product.purchase_price.to_f}
        €
        - if @order.order_items.detect{|oi| oi.num_wished.to_i > 0 && oi.local_product.purchase_price.present?}
          \... plus products without purchase price
      %br

    .br
    %table.pure-table.pure-table-bordered(width="100%")
      %thead
        %tr
          %th
            %label(for="internal_comment")
              Internal Comment
          %th
            %label(for="public")
              Public Comment
      %tbody
        %tr
          %td
            %textarea#internal_comment(name="internal_comment")~ @order.internal_comment
          %td
            %textarea#public_comment(name="public_comment")~ @order.public_comment

    %br
    %center
      %h2 Actions
      - if @order.state != "deleted" && @order.state != "mailed"
        %button.pure-button.pure-button-primary(name="action" value="save")
          = save_icon
          Save
      - if @order.state != "deleted" && @order.state != "mailed"
        %button.pure-button.pure-button-secondary(name="action" value="fix")
          Save and fix, mark as mailed
      - if @order.state != "deleted"
        %button.pure-button.pure-button-primary(name="action" value="delete")
          Delete
      -#%button#ajax_mailto.pure-button.pure-button-secondary
      -#  %i.fa.fa-envelope
      -#    Open mail
      -#:javascript
      -#  $("#ajax_mailto").click(function(e){
      -#    e.preventDefault();
      -#    var parameters = $('#non_remote_order').serialize();
      -#    //alert(parameters);
      -#    $.ajax({
      -#      url: "/order/non_remote/#{@supplier.id}/mailto",
      -#      data: parameters,
      -#      type: 'POST',
      -#      success: function(data){
      -#        if(data.indexOf('mailto') > -1){
      -#          window.location = data;
      -#        }
      -#      }
      -#    });
      -#  });

-#Edit supplier ...

%br
- if @order_mail.body != ""
  %table.pure-table
    %tr
      %td
        %h2 Mail preview
        %pre~ "SUBJECT: #{@order_mail.subject}"
        %pre~ "TO: #{@order_mail.to}"
        %pre~ "CC: #{@order_mail.cc.join(' ')}"
        %pre~ @order_mail.body
        %a{:href => @order_mail.mailto_url, :target => 'rawbotz_mail_order'}
          Open mail
      %td
        %h2 Mail template
        %pre~ @supplier.order_template
        %a.pure-button(href="/supplier/#{@supplier.id}#tab_order_settings")
          Edit template
        %br
- else
  %h2 Mail template
  %pre~ @supplier.order_template
  %a.pure-button(href="/supplier/#{@supplier.id}#tab_order_settings")
    Edit template
  %br
