= haml "orders/menu".to_sym

%h1 Non-Remote Order for supplier #{@supplier.name}

#modal-plot.modal-plot

- if @mail_preview.to_s != ""
  %h2 Mail preview
  %pre~ @mail_preview
  %a{:href => "mailto:#{@supplier.email}?Subject=Order&body=%s" % URI::escape(@mail_preview).gsub(/&/,'%26')} Open mail

%center
  %form#non_remote_order.pure-form(action="" method="post")
    %input(name="supplier_id" type="hidden" value="#{@supplier.id}")
    %table.pure-table
      %thead
        %tr
          %th Name
          %th Qty
          %th Packsize
          %th Stock/ Sales
      %tbody
        - @products.find_each do |product|
          %tr
            %td
              = product_link product
            %td
              = haml "widgets/_qty_wished_input".to_sym, locals: {product: product, input_id_num: product.id}
            %td
              - if product.packsize.present?
                = product.packsize
              - else
                %i.fa.fa-ban
            %td
              - stock_url = "/product/#{product.id}/stock_sales_plot"
              %a.stock_show_action{:href => "", :data => {url: stock_url, product: product.name}}
                Stock/Sales


    %br
    %center
      %button.pure-button.pure-button-primary
        %i.fa.fa-envelope
          Send me the mail!
      -#%button#ajax_mailto.pure-button.pure-button-secondary
      -#  %i.fa.fa-envelope
      -#    Open mail
      -#:javascript
      -#  $("#ajax_mailto").click(function(e){
      -#    e.preventDefault();
      -#    var parameters = $('#non_remote_order').serialize();
      -#    //alert(parameters);
      -#    $.ajax({
      -#      url: "/order/non_remote/#{@supplier.id}/mailto",
      -#      data: parameters,
      -#      type: 'POST',
      -#      success: function(data){
      -#        if(data.indexOf('mailto') > -1){
      -#          window.location = data;
      -#        }
      -#      }
      -#    });
      -#  });

-#Edit supplier ...

%br
%h2 Mail template
%pre~ @supplier.order_template
%a.pure-button(href="/supplier/#{@supplier.id}")
  Edit template
%br
